body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #464646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


canvas {
    border: 1px solid black;
    background-color: black;
}
#newGameBtn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    font-size: 20px; /* Adjust the font size as needed */
}
/* something else */